.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}

.finish-node {
    background-color: red;
}

.start-node {
    background-color: green;
}

.wall-node {
    background-color: black;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(150, 0, 66, 1.75);
        border-radius: 100%;
    }

    50% {
        transform: scale(1.2);
        background-color: rgba(150, 150, 0, 0.95);
    }

    75% {
        background-color: rgba(150, 200, 159, 0.75);
    }

    100% {
        transform: scale(0.5);
        background-color: rgba(156, 187, 18, 0.5);
    }
}

@media (prefers-reduced-motion: reduce) {
    .node-visited {
        animation: none;
        background-color: rgba(156, 187, 18, 0.5);
    }
}

.node-shortest-path {
    transform: scale(0.75);
    background-color: rgb(44, 11, 161);
}
